.uploader-container {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .upload-label {
    display: inline-block;
    padding: 12px 30px;
    background: #3466f2;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
  }
  
  .upload-label:hover {
    background: #274fcb;
  }
  
  .file-input {
    display: none;
  }
  .label-link {
    color: #2186ed;
    font-weight: 500;
    text-decoration: underline;
    margin-right: 8px;
    cursor: pointer;
  }
  
  .link-container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }